<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/frasihs" routerLinkActive="active">Link to List FrasiH</a>
    </div>
    <div>
        <a routerLink="/miscelanonpericolosas" routerLinkActive="active">Link to List Miscelanonpericolosa</a>
    </div>
    <div>
        <a routerLink="/processos" routerLinkActive="active">Link to List Processo</a>
    </div>
    <div>
        <a routerLink="/sostanzas" routerLinkActive="active">Link to List Sostanza</a>
    </div>
 <!-- END LINKS -->
</div>